<h1> <%= user.email %> </h1>

<ul>
  <% @user.images.each do |image| %>
    <%= image.user.email %>
    <%= image_tag image.url %>
    <li><%= link_to image.caption, image_path(image) %></li>
  <% end %>
</ul>
