<% content_for(:title, "KATSTAGRAM | Index") %>

<div class="row">
  <div class="col-md-2 col-md-offset-5">
  <%= link_to "New Image", new_image_path, :class => "btn btn-default btn-lg" %>
  </div>
</div>

<br>
<div class="row">
  <% @images.each do |image| %>
  <div class="col-md-4">
    <%= link_to image.user.email, user_path(image.user) %>
    <%= link_to (image_tag image.photo.url(:medium)), image_path(image) %> <br>
    <span class="caption"><%= link_to image.caption, image_path(image) %></span>
  </div>
  <% end %>
</div>
